
#welcome ul li, #security ul li{
    padding: 5px 0;
}
.iosButton,.androidButton {
    height: 54px;
}


@media screen and (min-width: 440px) {
    .iosButton,.androidButton {
        height: 66px;
    }
    .iosButton img,.androidButton img{
        height: 100%;
    }
}

.login-btn-devider{
    height: 1px;
    width: 44%;
    background-color: var(--ion-color-step-950);
}
.buy-nft-btn {
    position: relative; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out; 
  }
  
  .buy-nft-btn:hover {
    transform: scale(1.05);
    background-color: var(--ion-color-primary-shade); 
    color: white; 
  }
  
  .buy-nft-btn:hover::after { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
    animation: shine 1.5s infinite alternate; 
  }
  
  @keyframes shine {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
.login-right-side-wrapper{
    background-color: #e9e9e9;
    
}
.title-text{
    color: #222428;
}


